<div id="about" class="row">
    <div class="col-xl-3"></div> <!-- whitespace -->
    <div class="col-xl-6">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center underline mb-5">About us</h2>
          <p class="text-center playfairFont mb-5">New to whisky and want to discover more? A connoisseur with a taste for a specific style? We aim to provide a truly bespoke service, a tasting specifically crafted to your requirements. From well-known names to bottlings from silent distilleries, we have access to a wide range of whiskies and would be delighted to share some of them with you.</p>          
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-sm-6">
            <div class="card">
                <i class="card-img-top fa fa-question-circle" aria-hidden="true"></i>
              <div class="card-body">
                <h4 class="card-title text-center">What is this all about?</h4>
                <p class="card-text">
                  A chance to try a number of whiskies, we suggest five or six. We’ll nose and taste a selection of drams together to explore the depth of this wonderful drink. We can talk about whisky in general, the specific drams we are tasting, just let us know what you want and we’ll accommodate you. We can also provide gifts for all the guests.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <i class="card-img-top fa fa-pencil-square-o" aria-hidden="true"></i>
              <div class="card-body">
                <h4 class="card-title text-center">What will I need to do?</h4>
                <p class="card-text">
                  Bring the guests! Somewhere between 6 and 20 is ideal but we can cater for numbers outside that. Ideally you will book a suitable venue as well, but we can take care of that for you if required. We will need an hour at the venue in order to set up in advance of guests arriving. We’ll bring all the glassware, water and most importantly – the whisky!
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card">
                  <i class="card-img-top fa fa-clock-o" aria-hidden="true"></i>
                <div class="card-body">
                  <h4 class="card-title text-center">How long will it take?</h4>
                  <p class="card-text">
                    That will depend on how much you want to talk! We advise allowing at least 90 minutes although if time is an issue we can be quicker.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <i class="card-img-top fa fa-credit-card" aria-hidden="true"></i>
                  <div class="card-body">
                    <h4 class="card-title text-center">How much does it cost?</h4>
                    <p class="card-text">
                      As we aim to provide a bespoke service, prices will range depending on the whiskies we will taste and the number of guests. If you are working to a specific budget, let us know when you contact us.
                    </p>
                  </div>
                </div>
              </div>
      </div>
    </div>
    <div class="col-xl-3"></div> <!-- whitespace -->
</div>