@import "../../assets/shared_scss/colors.scss";

h2{
    color: $theme-dark;
}

.card{
    margin-bottom: 1.8rem;
    .card-img-top{
        text-align: center;
        color: $theme-orange;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .underline{
        &:after{
            bottom: -50%;
        }
    }
}