<div id="contact" class="row">
  <div class="d-none d-md-block col-md-1 col-lg-2"></div>
  <div class="col-xs-12 col-md-11 col-lg-10">
    <div class="contactContent">
      <h2>Contact us</h2>
      <a href="mailto:enquiries@delectabledrams.com"><i class="fa fa-envelope" aria-hidden="true"></i> enquiries@delectabledrams.com</a>
      <div class="clearfix mb-4"></div>
      <a href="https://twitter.com/DelectableDrams"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="https://www.facebook.com/Delectable-Drams-876368949152355/"><i class="fa fa-facebook-official"></i> Facebook</a>
      <a href="https://www.instagram.com/delectabledrams/"><i class="fa fa-instagram"></i> Instagram</a>
    </div>
  </div>
</div>