<div class="row intro">
  <div class="col-1"></div> <!-- whitespace -->
  <div id="introTxt" class="col-11">
    <h1>Delectable Drams</h1>
  </div>

  <div class="col-lg-1"></div> <!-- whitespace -->
  <div id="introTxt" class="col-lg-6">
    <h3 class="playfairFont">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      We aim to provide a truly bespoke service, a tasting specifically crafted to your requirements. From well-known names to bottlings from silent distilleries, we have access to a wide range of whiskies and would be delighted to share some of them with you.
      <i class="fa fa-quote-right" aria-hidden="true"></i>
    </h3>
    <a (click)="scroll($event)" target="islay">Islay Whisky</a>
    <a (click)="scroll($event)" target="sherried">Sherried Whisky</a>
    <a (click)="scroll($event)" target="world">World Whisky</a>
  </div>
  <div class="col-lg-5"></div> <!-- whitespace -->
</div>