@import "../../assets/shared_scss/colors.scss";

.navbar{
    .navbar-toggler{
        border: none;
    }
    
    .bar1, .bar2, .bar3{
        width: 30px;
        height: 3px;
        background-color: $theme-dark;
        margin: 6px 0;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
        border-radius: 3px;
    }

    /* Rotate first bar */
    .active .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
        background-color: $theme-orange;
    }

    /* Fade out the second bar */
    .active .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    .active .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
        background-color: $theme-orange;
    }
}