.galleryTxtBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: white;

    h2{
        color: #e97b36;
    }
}

.imgRow{
    padding: 0;
}