@import "../../assets/shared_scss/colors.scss";

.galleryTxtBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: white;
}

.imgRow{
    padding: 0;
    margin: auto;
}

img{
    cursor: pointer;
}