@import "../../assets/shared_scss/colors.scss";

.underline{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        bottom: -20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 100px;
        height: 3px;
        background-color: $theme-orange;
    }
}